<div class="text-center my-head">
<h2 style="border-bottom: 1px solid #6b9eef;">LOST AND FOUND NITC PORTAL</h2>
<div class="container">
  <% if user_signed_in? %>
   <div class="row">
   	<div class="col-sm-6"><%= link_to "Show Lost Item", losts_path, class: "btn btn-xs btn-primary"%></div>
    <div class="col-sm-6"><%= link_to "Show Found Item", founds_path,class: "btn btn-xs btn-primary" %></div>
  </div>
 <%end%>
</div>
 </div>
<hr>
<div class="container-fluid img">
	

  <img src="http://nitc.ac.in/dept/cse/department_photos/demo-images/img21.jpg" style="width:100%;max-height: 400px;">

</div>
<div class="container-fluid my-class">
  <div class="row">
  	<h2 class="text-center ">HOW IT WORKS</h2>
  	<div class="col-sm-4 col-sm-offset-1 text-x">
  		<h3 class="m-2">LOGIN TO YOUR ACCOUNT</h3>
  		<p class="text m-4">
  			To submit a listing, plaese create
  			an account on our portal and login
  			your account. 
  		</p>
    </div>
    <div class="col-sm-4 col-sm-offset-1" >
    	<h3>CREATE A LISTING</h3>
    	<p>Create a listing for lost and found items and submit the details.</p>
    </div>
  </div>	  
</div>
